
/*===========Responsive for large device(768px to 992px)===========*/
@media screen and (max-width:992px){
    .container{
        padding:0 2rem;
    }
    h1{
        font-size:6rem;
    }
    h3{
        font-size:3rem;
    }
    /* ______Here is header section_________ */
    header .logo{
        align-items: center;
    }
    header .navigation ul {
        gap: 2rem;
    }
    header .banner .banner-description {
        width:100%;
    }
    header .banner {
        padding: 10.6rem 6rem;
    }
    header .banner .banner-input {
        gap:2rem;
    }
    header .banner-btn{
        padding:0;
    }
    /* _______Here is Deals & Discounts section_______*/
    #discount .discount-card {
        width: 80%;
    }
}
/*==========Responsive for medium device(576px to 768px)==========*/
@media screen and (max-width:768px){
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    h3{
        font-size:2.5rem;
    }
    /* ______Here is header section_______ */
    header nav {
        padding: 3rem 0;
    }
    header .navigation{
        display: none;
    }
    header .bar {
        display: block;
    }
    header .banner {
        padding: 8rem 6rem;
    }
    header .banner .banner-input {
        grid-template-columns: repeat(2,1fr);
    }
    /* _______Here is popular section___________ */
    #popular {
        padding: 5rem 0;
    }
    #popular .popular-elements{
        flex-direction: column;
    }
    #popular .popular-content{
        width:100%;
        text-align: justify;
    }
    #popular .popular-img{
        width:100%;
    }
    /* __________Here is destination section_________ */
    section {
        padding-bottom: 5rem;
    }
    .destinations-description {
        width: 80%;
    }
    #destinations .row-1{
        flex-direction: column;
    }
    #destinations .row-2{
        grid-template-columns: repeat(1,1fr);
    }
    #destinations .row-3{
        flex-direction: column;
    }
    #destinations .destinations-img img{
        height:28.5rem;
    }
   /*________Here is Why Choose us section______> */
   #choose{
    padding-bottom: 5rem;
   }
   #choose .choose-row{
        flex-direction: column;
    }
    #choose .choose-card-item {
        width:100%;
    }
    /* _______Here is Deals & Discounts section_______*/
    #discount .discount-card {
        width: 100%;
    }
    #discount .discount-card ul {
        gap: 2rem;
    }
    #discount .discount-card {
        padding: 3rem;
    }
     /* ____________Here is A Simple Perfect Place To Get Lost section____________ */
     #place .place-elements{
        flex-direction: column;
    }
    #place .place-content{
        width:100%;
    }
    #place .place-video{
        width:100%;
    }
    /* _______Here is news latter section ____________*/
    #news-latter .news-latter-elements{
        flex-direction: column;
    }
    #news-latter .news-latter-content{
        width:100%;
    }
    #news-latter .news-latter-img{
        width:100%;
    }
}
/*============Responsive for small device(under 576px)============*/
@media screen and (max-width:576px){
    h1{
        font-size:2.2rem;
    }
    h3{
        font-size:2rem;
    }
    h2{
        font-size:2rem;
    }
    h4{
        margin-bottom:1.6rem;
        font-size: 2rem;
    }
    .btn{
        font-size:1.8rem;
        font-weight: 700;
    }
    section{
        padding-bottom: 2.4rem;
    }
    /* ______Here is  popular section_______ */
    #popular {
        padding: 2.4rem 0;
    }
    /* ______Here is header section_______ */
    header nav {
        padding: 2rem 0;
    }
    header .banner .banner-input{
        grid-template-columns: repeat(1,1fr);
    }
    header .banner-btn{
        padding:1.5rem 2.5rem;
    }
    header .banner {
        padding: 3.2rem 2rem;
    }
    /* __________Here is destination section_________ */
    #destinations{
        padding-bottom:0rem;
    }
    .destinations-description {
        width: 100%;
    }
    #destinations .destinations-img img{
        height:17.5rem;
    }
    #destinations .destinations-gallery {
        margin-top: 1.6rem;
    }
    /*________Here is Why Choose us section______> */
    #choose{
        padding-bottom: 2.4rem;
    }
    #choose .choose-card {
        margin-top: 1.6rem;
    }
    #choose .choose-card-item h4 {
        font-size: 2rem;
    }
    #choose .choose-row{
        flex-direction: column;
    }
    #choose .choose-card-item {
        width:100%;
    }
    /* _______Here is Deals & Discounts section_______*/
    #discount .discount-card ul {
        flex-wrap: wrap;
    }
    .discount-row-container {
        padding: 18.7rem 1.6rem 1.6rem 1.6rem;
    }
    #discount .discount-card h5 {
        margin-bottom: 1.6rem;
    }
    #discount .discount-card .btn{
        font-size:1.8rem;
        font-weight: 700;
    }
    /* _______Here is news latter section ____________*/
    #news-latter .news-latter-discount h3 {
        font-size: 2.5rem;
    }
    #news-latter .news-latter-discount p {
        font-size: 1.6rem;
    }
    #news-latter .news-latter-discount {
        padding: 1rem 1.5rem;
        right: 0rem;
        bottom: 5rem;
        transform: rotate(-30deg);
    }
}
