
/*===========Responsive for large device(768px to 992px)===========*/
@media screen and (max-width:992px){
    .container{
        padding:0 2rem;
    }
    h1{
        font-size:6rem;
    }
    h3{
        font-size:3rem;
    }
    /* ______Here is header section_________ */
    header .logo{
        align-items: center;
    }
    header .navigation ul {
        gap: 2rem;
    }
    header .banner .banner-description {
        width:100%;
    }
    header .banner {
        padding: 10.6rem 6rem;
    }
    header .banner .banner-input {
        gap:2rem;
    }
    header .banner-btn{
        padding:0;
    }
}
/*==========Responsive for medium device(576px to 768px)==========*/
@media screen and (max-width:768px){
    h1 {
        font-size: 4rem;
    }
    h3{
        font-size:2.5rem;
    }
    /* ______Here is header section_______ */
    header nav {
        padding: 3rem 0;
    }
    header .navigation{
        display: none;
    }
    header .bar {
        display: block;
    }
    header .banner {
        padding: 8rem 6rem;
    }
    header .banner .banner-input {
        grid-template-columns: repeat(2,1fr);
    }
}
/*============Responsive for small device(under 576px)============*/
@media screen and (max-width:576px){
    h1{
        font-size:2.2rem;
    }
    h3{
        font-size:2rem;
    }
    /* ______Here is header section_______ */
    header nav {
        padding: 2rem 0;
    }
    header .banner .banner-input{
        grid-template-columns: repeat(1,1fr);
    }
    header .banner-btn{
        padding:1.5rem 2.5rem;
    }
    header .banner {
        padding: 3.2rem 2rem;
    }
}
